
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.website-design-vdf {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .auto-group-falo-JeD {
    align-items: center;
    background-color: rgba(229, 84, 115, 0.1000000015);
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 5rem 24rem 0rem 24rem;
    width: 100%;
    height: 85rem;
    display: flex;

    .group-1-XQV {
      height: calc(100% - 29.4rem);
      row-gap: 3.2rem;
      display: flex;
      flex-direction: column;
      border-radius: 0.8rem;
      flex-shrink: 0;
      margin: 14.7rem 9.7rem 14.7rem 0rem;
      width: 70.8rem;

      .lets-make-beautiful-flowers-a-part-of-your-life-cB3 {
        max-width: 68.1rem;
        font-size: 8rem;
        font-weight: 800;
        line-height: 1.2;
        color: #272727;
        font-family: Lato, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .it-is-a-long-established-fact-that-a-reader-will-be-distracted-by-the-readable-content-of-a-page-when-looking-at-its-layout-the-point-of-using-lorem-ipsum-is-that-it-has-a-more-or-less-normal-distribution-of-letters-2Vf {
        color: rgba(39, 39, 39, 0.6000000238);
        font-family: Lato, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 60.6rem;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.6666666667;
      }
      .frame-1-3vZ {
        line-height: 1.2;
        border-radius: 0.8rem;
        flex-shrink: 0;
        color: #ffffff;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        font-weight: 700;
        font-family: Lato, 'Source Sans Pro';
        white-space: nowrap;
        background-color: #e55473;
        width: 17.7rem;
        height: 6.4rem;
        display: flex;
      }
    }
    .pngwing-10-gTj {
      width: 63.5rem;
      height: 80rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .auto-group-vdyb-zjK {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 17.8rem 24rem 12.8rem 24rem;

    .group-14-sHK {
      flex-shrink: 0;
      margin: 0rem 43.4rem 4.8rem 43.4rem;
      width: calc(100% - 86.8rem);
      align-items: center;
      display: flex;
      flex-direction: column;

      .our-featured-flowers-vmP {
        text-align: center;
        font-size: 4rem;
        color: #272626;
        font-family: Lato, 'Source Sans Pro';
        flex-shrink: 0;
        margin-bottom: 2.4rem;
        font-weight: 800;
        line-height: 1.2;
        white-space: nowrap;
      }
      .it-is-a-long-established-fact-that-a-reader-will-be-distracted-by-the-readable-content-of-a-page-when-looking-at-its-layout-dQu {
        flex-shrink: 0;
        max-width: 57.2rem;
        text-align: center;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.6666666667;
        color: rgba(39, 39, 39, 0.6000000238);
        font-family: Lato, 'Source Sans Pro';
      }
    }
    .group-70-tbj {
      display: flex;
      column-gap: 2.4rem;
      align-items: center;
      flex-shrink: 0;
      margin-bottom: 12.8rem;
      width: 100%;
      height: 60.5rem;

      .group-68-2C9 {
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: 46.4rem;

        .auto-group-n3qj-MVK {
          margin-bottom: 3.2rem;
          box-sizing: border-box;
          padding: 11rem 7.8rem 0rem 7.6rem;
          width: 100%;
          background-color: rgba(167, 33, 98, 0.150000006);
          border-radius: 30rem 30rem 0 0;
          flex-shrink: 0;

          .pngwing-6-UK3 {
            width: 31rem;
            height: 42.8rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
        .pink-flower-tree-mow {
          margin-right: 0.1rem;
          font-weight: 700;
          text-decoration-line: underline;
          color: #272727;
          font-family: Lato, 'Source Sans Pro';
          flex-shrink: 0;
          text-align: center;
          font-size: 2.4rem;
          line-height: 1.4583333333;
          white-space: nowrap;
        }
      }
      .group-67-pnD {
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: 46.4rem;

        .auto-group-rwvb-8Y1 {
          border-radius: 30rem 30rem 0 0;
          flex-shrink: 0;
          margin-bottom: 3.2rem;
          box-sizing: border-box;
          padding: 11.7rem 4.7rem 5.1rem 4.7rem;
          width: 100%;
          background-color: rgba(5, 150, 160, 0.150000006);

          .pngwing-5-djf {
            width: 37rem;
            height: 37rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
        .pink-flower-tree-x1F {
          font-size: 2.4rem;
          color: #272727;
          margin-right: 0.1rem;
          text-align: center;
          text-decoration-line: underline;
          font-family: Lato, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-weight: 700;
          line-height: 1.4583333333;
        }
      }
      .group-69-XiZ {
        flex-shrink: 0;
        width: 46.4rem;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .auto-group-mb19-3gu {
          margin-bottom: 3.2rem;
          box-sizing: border-box;
          padding: 6.7rem 7.5rem 0rem 7.5rem;
          width: 100%;
          background-color: rgba(71, 125, 17, 0.150000006);
          border-radius: 30rem 30rem 0 0;
          flex-shrink: 0;

          .pngwing-7-Zv9 {
            width: 31.4rem;
            height: 47.1rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
        .pink-flower-tree-gjs {
          flex-shrink: 0;
          margin-left: 0.1rem;
          text-align: center;
          white-space: nowrap;
          text-decoration-line: underline;
          color: #272727;
          font-family: Lato, 'Source Sans Pro';
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 1.4583333333;
        }
      }
    }
    .group-64-Bgd {
      box-sizing: border-box;
      padding: 8.6rem 17.55rem 8.7rem 17.45rem;
      width: 100%;
      height: 32rem;
      background-color: rgba(39, 39, 39, 0.0500000007);
      border-radius: 0.8rem;
      flex-shrink: 0;

      .group-63-iAm {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

        .group-62-FAh {
          flex-shrink: 0;
          margin-right: 9.8rem;
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;

          .group-57-C5w {
            margin-bottom: 2.4rem;
            width: 8.8rem;
            height: 8.8rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .same-day-delivery-click-collect-8EV {
            font-family: Lato, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            text-align: center;
            font-size: 2.4rem;
            font-weight: 600;
            line-height: 1.4583333333;
            color: rgba(39, 39, 39, 0.8000000119);
          }
        }
        .group-61-Hf7 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-right: 9.9rem;
          height: 100%;
          align-items: center;

          .group-58-2Mo {
            flex-shrink: 0;
            margin-bottom: 2.4rem;
            width: 8.8rem;
            height: 8.8rem;
            object-fit: contain;
            vertical-align: top;
          }
          .fresh-flowers-local-growers-J4R {
            font-size: 2.4rem;
            font-weight: 600;
            line-height: 1.4583333333;
            color: rgba(39, 39, 39, 0.8000000119);
            font-family: Lato, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            text-align: center;
          }
        }
        .group-60-DBP {
          flex-shrink: 0;
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;

          .group-59-9Kw {
            margin-bottom: 2.4rem;
            width: 8.8rem;
            height: 8.8rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .free-support-3w7 {
            font-size: 2.4rem;
            font-weight: 600;
            line-height: 1.4583333333;
            color: rgba(39, 39, 39, 0.8000000119);
            font-family: Lato, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            text-align: center;
          }
        }
      }
    }
  }
  .group-55-MB7 {
    align-items: center;
    background-color: rgba(229, 84, 115, 0.0500000007);
    border-radius: 0.8rem;
    width: 100%;
    display: flex;
    height: 62rem;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 10rem 42.9rem 10rem 39.5rem;

    .group-54-577 {
      align-items: center;
      display: flex;
      flex-shrink: 0;
      width: 59.4rem;
      height: calc(100% - 19.2rem);
      flex-direction: column;
      border-radius: 0.8rem;
      margin: 13rem 18.6rem 6.2rem 0rem;
      box-sizing: border-box;
      padding: 0 1.1rem;

      .hot-deal-sale-up-to-25-off-nXK {
        white-space: nowrap;
        margin: 0rem 1.1rem 2.4rem 0rem;
        font-weight: 800;
        color: #272626;
        font-family: Lato, 'Source Sans Pro';
        display: flex;
        align-items: baseline;
        flex-shrink: 0;
        font-size: 4rem;
        line-height: 1.2;

        .hot-deal-sale-up-to-25-off-nXK-sub-0 {
        }
        .hot-deal-sale-up-to-25-off-nXK-sub-1 {
          font-size: 4rem;
          font-weight: 800;
          line-height: 1.2;
          color: #e55473;
          font-family: Lato, 'Source Sans Pro';
        }
      }
      .it-is-a-long-established-fact-that-a-reader-will-be-distracted-by-the-readable-content-of-a-page-when-looking-at-its-layout-Uws {
        flex-shrink: 0;
        margin-bottom: 3.2rem;
        max-width: 57.2rem;
        font-size: 1.8rem;
        line-height: 1.6666666667;
        color: rgba(39, 39, 39, 0.6000000238);
        text-align: center;
        font-weight: 400;
        font-family: Lato, 'Source Sans Pro';
      }
      .frame-1-irD {
        line-height: 1.2;
        justify-content: center;
        height: 6.4rem;
        font-weight: 700;
        white-space: nowrap;
        border-radius: 0.8rem;
        flex-shrink: 0;
        margin: 0rem 22rem 0rem 19.7rem;
        font-size: 2rem;
        font-family: Lato, 'Source Sans Pro';
        width: calc(100% - 41.7rem);
        color: #ffffff;
        display: flex;
        align-items: center;
        background-color: #e55473;
      }
    }
    .pngwing-8-JpR {
      height: 42rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      width: 31.8rem;
    }
  }
  .auto-group-s7vp-LFK {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 12.8rem 24rem;
    width: 100%;
    align-items: center;

    .group-71-Dpu {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 0rem 43.4rem 4.8rem 43.4rem;
      width: calc(100% - 86.8rem);

      .instagram-79b {
        font-size: 4rem;
        line-height: 1.2;
        white-space: nowrap;
        text-align: center;
        font-weight: 800;
        color: #272626;
        font-family: Lato, 'Source Sans Pro';
        flex-shrink: 0;
        margin-bottom: 2.4rem;
      }
      .it-is-a-long-established-fact-that-a-reader-will-be-distracted-by-the-readable-content-of-a-page-when-looking-at-its-layout-BQM {
        flex-shrink: 0;
        max-width: 57.2rem;
        text-align: center;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.6666666667;
        color: rgba(39, 39, 39, 0.6000000238);
        font-family: Lato, 'Source Sans Pro';
      }
    }
    .auto-group-kn1m-dn9 {
      margin-bottom: 12.8rem;
      width: 100%;
      display: flex;
      column-gap: 2.4rem;
      align-items: center;
      flex-shrink: 0;

      .rectangle-3-jqB {
        width: 34.2rem;
        height: 39.6rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .rectangle-4-cty {
        width: 34.2rem;
        height: 39.6rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .rectangle-5-Y1w {
        vertical-align: top;
        flex-shrink: 0;
        width: 34.2rem;
        height: 39.6rem;
        object-fit: cover;
      }
      .rectangle-6-5Gm {
        width: 34.2rem;
        height: 39.6rem;
        position: relative;
        background-size: 173.728% 100%;
        background-position: -1.1535rem 0;
        background-image: url('REPLACE_IMAGE:20809edf790c20694adc34c39868dbcf1f5b1eed');
        flex-shrink: 0;
      }
    }
    .group-78-Zhj {
      box-sizing: border-box;
      padding: 12.2rem 28.7rem 12.1rem 28.7rem;
      width: 100%;
      height: 44.9rem;
      background-size: 100% 213.755%;
      background-position: 0 -20.3444rem;
      background-image: url('REPLACE_IMAGE:3957f49db10e005a9fdd3ab594e339f813aa578c');
      border-radius: 0.8rem;
      flex-shrink: 0;

      .group-77-gXT {
        display: flex;
        flex-direction: column;
        border-radius: 0.8rem;
        width: 100%;
        height: 100%;
        align-items: center;

        .group-73-beR {
          flex-direction: column;
          flex-shrink: 0;
          margin: 0rem 24.9rem 4.8rem 24.8rem;
          width: calc(100% - 49.7rem);
          align-items: center;
          display: flex;

          .get-the-latest-deals-KqK {
            font-size: 4rem;
            color: #272626;
            flex-shrink: 0;
            margin-bottom: 1.6rem;
            text-align: center;
            font-weight: 800;
            line-height: 1.2;
            font-family: Lato, 'Source Sans Pro';
            white-space: nowrap;
          }
          .coupon-for-first-shopping-RdT {
            flex-shrink: 0;
            text-align: center;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.6666666667;
            color: rgba(39, 39, 39, 0.6000000238);
            font-family: Lato, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .group-76-u2q {
          border-radius: 0.8rem;
          flex-shrink: 0;
          width: 100%;
          height: 6.4rem;
          display: flex;
          align-items: center;

          .group-75-S2m {
            margin-right: 1.6rem;
            padding: 2.3rem 2.25rem 2.1rem 2.25rem;
            line-height: 1.2;
            color: rgba(39, 39, 39, 0.6000000238);
            width: 70rem;
            font-size: 1.6rem;
            font-family: Lato, 'Source Sans Pro';
            white-space: nowrap;
            height: 100%;
            text-align: center;
            font-weight: 400;
            background-color: #ffffff;
            border-radius: 0.8rem;
            flex-shrink: 0;
            box-sizing: border-box;
          }
          .group-74-sNy {
            width: 15rem;
            display: flex;
            height: 100%;
            font-weight: 700;
            line-height: 1.2;
            font-family: Lato, 'Source Sans Pro';
            align-items: center;
            justify-content: center;
            background-color: #e55473;
            border-radius: 0.8rem;
            font-size: 2rem;
            color: #ffffff;
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
      .group-78-Zhj-bg {
        background-image: url('REPLACE_IMAGE:3957f49db10e005a9fdd3ab594e339f813aa578c');
        width: 144rem;
        height: 44.9rem;
        position: relative;
      }
    }
  }
  .group-56-7gd {
    flex-direction: column;
    background-color: #111010;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 12.8rem 67.55rem 12.7rem 67.45rem;
    width: 192.2rem;
    align-items: center;
    display: flex;

    .flowershop-c7b {
      font-size: 4.8rem;
      line-height: 1.2000000477;
      color: #e55473;
      margin: 0rem 0.6rem 2.4rem 0rem;
      font-weight: 800;
      font-family: Lato, 'Source Sans Pro';
      white-space: nowrap;
      display: flex;
      align-items: baseline;
      flex-shrink: 0;

      .flowershop-c7b-sub-0 {
        font-size: 4.8rem;
        font-weight: 800;
        line-height: 1.2;
        color: #e55473;
        font-family: Lato, 'Source Sans Pro';
      }
      .flowershop-c7b-sub-1 {
        font-size: 4.8rem;
        font-weight: 800;
        line-height: 1.2;
        color: #ffffff;
        font-family: Lato, 'Source Sans Pro';
      }
    }
    .it-is-a-long-established-fact-that-a-reader-will-be-distracted-by-the-readable-content-of-a-page-when-looking-at-its-layout-jzq {
      font-weight: 400;
      line-height: 1.6666666667;
      color: rgba(255, 255, 255, 0.8999999762);
      font-family: Lato, 'Source Sans Pro';
      flex-shrink: 0;
      margin-bottom: 3.2rem;
      max-width: 57.2rem;
      text-align: center;
      font-size: 1.8rem;
    }
    .flowershopcom-all-rights-reserved-h4V {
      line-height: 1.2;
      flex-shrink: 0;
      margin-left: 0.2rem;
      text-align: center;
      font-size: 1.6rem;
      font-weight: 400;
      color: rgba(255, 255, 255, 0.400000006);
      font-family: Lato, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
}
